h1{
    color: blue;
}

button{
    background-color: green;
    border-radius: 4px;
    color: white;
    padding: 10px 20px;

}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: coral;
}

#container{
    display: flex;
    justify-content: center;
}

img{
    width: 200px;
}